<!DOCTYPE html>
<html lang="en">

<style>
    #hello-msg{
        font-size: 18px;
        color:#00c3ff;
        margin-right: 20px;
    }
</style>

<head>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="cssFile/tasklist_css.css">
    <title>Task List</title>
</head>
<body>
    <span id="hello-msg">Hello, {{request.user}} </span>
    <span ><a class="hello-msg" href ="{% url 'logout' %}">Logout</a></span>


    <h1>To-Do:</h1>
    <a href="{% url 'add_task' %}">Add Task</a>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.name }} (Due: {{ task.due_date }}) 
                <a href="{% url 'edit_task' task.pk %}">Edit</a>
                <!-- Optionally add a delete link -->
            </li>
        {% empty %}
            <li>No tasks available.</li>
        {% endfor %}
    </ul>
</body>
</html>
